.profile__edit-button {
  width: 24px;
  height: 24px;
  background-color: unset;
  border: 1px solid #ffffff;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 18px;
  cursor: pointer;
  padding: 0;
  outline: none;
}
.profile__edit-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 550px) {
  .profile__edit-button {
    min-width: 18px;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-right: 19px;
  }
}
