.profile {
  max-width: 880px;
  width: 100%;
  margin: 40px auto 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media screen and (max-width: 950px) {
  .profile {
    max-width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .profile {
    max-width: 500px;
    margin-top: 42px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 550px) {
  .profile {
    max-width: 320px;
  }
}
