.header__line {
  width: 100%;
  border: 1px solid #545454;
  opacity: 0.7;
  margin-top: 41px;
  margin-bottom: 0;
}
@media screen and (max-width: 550px) {
  .header__line {
    margin-top: 31px;
  }
}
