.profile__add-button {
  min-width: 150px;
  min-height: 50px;
  background-color: unset;
  border: 1px solid #ffffff;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-self: center;
  margin-left: 18px;
}
.profile__add-button:hover {
  opacity: 0.6;
}
