.element__like-btn {
  background: url(../../../images/like.svg);
  min-width: 22px;
  height: 19px;
  background-color: unset;
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  outline: none;
}
.element__like-btn:hover {
  opacity: 0.5;
}
