.header {
  max-width: 880px;
  min-height: 74px;
  width: 100%;
  margin: 45px auto 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media screen and (max-width: 950px) {
  .header {
    max-width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    max-width: 500px;
  }
}
@media screen and (max-width: 550px) {
  .header {
    max-width: 320px;
    min-height: 56px;
    margin-top: 28px;
  }
}
